<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/frontlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Halfshade.HalfHedges"></activity>
        <activity android:name=".Halfshade.HalfGrasses" />
        <activity android:name=".Halfshade.HalfFerns" />
        <activity android:name=".Halfshade.HalfConifers" />
        <activity android:name=".Halfshade.HalfClimbers" />
        <activity android:name=".Halfshade.HalfBedding" />
        <activity android:name=".Halfshade.HalfExotics" />
        <activity android:name=".Halfshade.HalfAlpines" />
        <activity android:name=".FullSunActivities.FullSunHedges" />
        <activity android:name=".FullSunActivities.FullSunGrasses" />
        <activity android:name=".FullSunActivities.FullSunFerns" />
        <activity android:name=".FullSunActivities.FullSunExotics" />
        <activity android:name=".FullSunActivities.FullSunConifers" />
        <activity android:name=".FullSunActivities.FullSunClimbers" />
        <activity android:name=".FullSunActivities.FullSunBedding" />
        <activity android:name=".FullSunActivities.FullSunAlpines" />
        <activity android:name=".Shade.FullSun" />
        <activity android:name=".Shade.HalfShade" />
        <activity android:name=".Shade.FullShade" />
        <activity android:name=".GrassActivity" />
        <activity android:name=".MaintenancePlannerMenu" />
        <activity android:name=".seasons.Autumn" />
        <activity android:name=".seasons.Spring" />
        <activity android:name=".seasons.Summer" />
        <activity android:name=".seasons.Winter" />
        <activity android:name=".MyJobsMenu" />
        <activity android:name=".ViewMyPlant" />
        <activity android:name=".MyPlantsActivity" />
        <activity android:name=".PlantActivities.HedgesActivity" />
        <activity android:name=".PlantActivities.GrassesActivity" />
        <activity android:name=".PlantActivities.FernActivity" />
        <activity android:name=".PlantActivities.ExoticActivity" />
        <activity android:name=".PlantActivities.ClimbersActivity" />
        <activity android:name=".PlantActivities.BeddingActivity" />
        <activity android:name=".PlantActivities.AlpineRockeryActivity" />
        <activity android:name=".SelectPlantsMenu" />
        <activity android:name=".ViewJob" />
        <activity android:name=".MyJobs" />
        <activity android:name=".JobActivity" />
        <activity android:name=".PlantActivities.ConifersActivity" />
        <activity android:name=".PlantsActivity" />
        <activity android:name=".FindSoilType" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GardenInfoActivity" />
        <activity android:name=".MyGarden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MaintenancePlanner" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FirstScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>